<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="/static/styles.css" /> -->
    <title>Productivr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/style.css">
        
</head>
<body>
  <a href="/home">Home</a>
  <h1>Group: {{group_name}}</h1>
  
  {%for u in users1%}
    <ol class="alternating-colors">
      <h3 class = "user_display">{{u[1]}}'s to-do list</h3>
      <hr>
      {%for t in tasks%}
        {% if t[1] == u[0] and t[3] == 0 %}
          <li>
            <p class = "user_display">{{t[4]}}</p>
            <form action="/group/{{t[2]}}" method="POST">
              {% if t[1] == session %}
                <form action="/group/{{t[2]}}" method="POST">
                  <button type="submit" name="done" value="{{t[0]}}">✅</button>
                </form>
                <form action="/group/{{t[2]}}" method="POST">
                  <button type="submit" name="delete" value="{{t[0]}}">❌</button>
                </form>
              {% endif %}
            </form>
          <br>
          <br>
          </li>
        {% endif %}
        {% if t[1] == u[0] and t[3] == 1 %}
          <li>
            <p class = "user_display"><s>{{t[4]}}</s></p>
            <form action="/group/{{t[2]}}" method="POST">
              {% if t[1] == session %}
                <form action="/group/{{t[2]}}" method="POST">
                  <button type="submit" name="done" value="{{t[0]}}">🔄</button>
                </form>
                <form action="/group/{{t[2]}}" method="POST">
                  <button type="submit" name="delete" value="{{t[0]}}">❌</button>
                </form>
              {% endif %}
            </form>
          <br>
          <br>
          </li>
        {% endif %}
      {%endfor%}
    </ol>
  <hr>
  <br>
{%endfor%}
      <!-- <h2>Members</h2>
      <div class="user_list" id="user_list">
        {%for u2 in users2%}
          <div>
            <p class = "user_display">{{u2[1]}}</p>
          </div>
        {%endfor%}
      </div> -->
      <br>
      <br>
      <br>
    <!-- {%for c in clist%}
        <ol class="alternating-colors">
            <H2><a href="/group/{{c[0]}}" id="circle-{{i}}">{{c[1]}}</a></H2>
              {%for task in tasks[c[0]]%}
                <li>
                  <strong id="task-{{i}}">{{ task["name"] }}</strong>
                  <p id="task-{{i}}">{{ task["description"] }}</p>
                  
                </li>
              {%endfor%}
              <hr style="color: black; border:1ch">
        </ol>
        <br>
        <br>
    {%endfor%} -->
    
    <ol class="alternating-colors">
      <hr>
        <form id="task-creater" method="post">
        <h1>New Task</h1>
        <input type="text" name="task_name" placeholder="Name" id="task_name_entry" required>
        <br>
        <br>
        <input type="text" name="task_description" placeholder="Description" id="task_description_entry">
        <br>
        <br>
        <input type="submit" value="CREATE">
      </form>
    </ol>

</body>
</html>