<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="/static/styles.css" /> -->
    <title>Productivr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/style.css">
        
</head>
<body>

    <H1>Hello {{username}}!</H1>
    
    {%for c in clist%}
        <ol class="alternating-colors">
            <H2><a href="/group/{{c[0]}}" id="circle-{{i}}">{{c[1]}}</a></H2>
              {%for task in tasks[c[0]]%}
                {% if task["complete"] == 0 %}
                <li>
                  <strong id="task-{{i}}">{{ task["name"] }}</strong>
                  <p id="task-{{i}}">{{ task["description"] }}</p>
                  
                </li>
                {% endif %}
              {%endfor%}
              <hr style="color: black; border:1ch">
        </ol>
        <br>
        <br>
    {%endfor%}

    <ol class="alternating-colors">
        <div class="task-popup" id="circleAdd">
            <form id="group-creater" method="post">
              <h2>Join an existing circle</h2>
              <input type="text" name="circle_id" placeholder="Circle Join Code" id="circle_id" required>
              <input type="submit" value="JOIN">
            </form>
            <form id="group-creater" method="post">
              <label for="Group name">
              </label>
              <h2>Create a new circle</h2>
              <input type="text" name="Group Name" placeholder="Circle Name" id="groupname" required>
              <input type="submit" value="CREATE">
            </form>
        </div>
    </ol>

</body>
</html>