
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css" />
    <title>Productivr</title>

    <script>
      // When the user clicks on <div>, open the popup
      function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
      }
    
    </script>
  </head>

  <body>
    <h1>I am a level one heading</h1>

    <p>
      This is a paragraph of text. In the text is a
      <span class="special">span element</span> and also a
      <a href="https://example.com">link</a>.
    </p>

    <p>
      This is the second paragraph. It contains an <em>emphasized</em> element.
    </p>

    <ul>
      <li>Item <em> one</em> </li>
      <li class="special">Item two</li> <!--Soecial class being used to help stylesheet identify what will be changes -->
      <li>Item <em id="coolthing">three</em></li>
    </ul>
    <div class="popup" onclick="myFunction()">Click me!
      <span class="popuptext" id="myPopup">Popup text...</span>
    </div>
  </body>
</html>